# Created by .ignore support plugin (hsz.mobi)
### Yii template
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

vendor/*

Будет удалено .idea/webServers.xml
Будет удалено logs/
Будет удалено vendor/cetver/
Будет удалено vendor/codemix/
Будет удалено web/uploads/
/vendor/composer/installed.json
/.idea/php.xml
/.idea/workspace.xml
/web/info.php
